# Ignore Python cache:
__pycache__/

# Ignore virtual environment:
venv/

# Specific files to ignore:
__init__.py

# Ignore all Python files in the Lib directory:
Lib/

prompt_engine/promptengine/share/
prompt_engine/promptengine/Scripts/
prompt_engine/promptengine/Library/

prompt_engine/promptengine/pyvenv.cfg
prompt_engine/promptengine/etc/